<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/penrose.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Base HTML / Commons</title>
</head>
<body>
<div class="container">
    <div class="main-wrapper">
        <header>
            <nav class="top-nav">
                <img class="nav-logo" src="img/logo.png" alt="nikrosales.dev logo ">
                <ul class="nav-list">
                    <li>Home</li>
                    <li>Services</li>
                    <li>Work</li>
                    <li>Blog</li>
                    <li>About</li>
                </ul>
            </nav>
        </header>
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>